.leaderboard {
	text-align: center;
	color: green;


}
li {
	list-style-type: none;
	
}
body {
	background-color: black;
}

h1 {
	border-width: 2px;
	border-color: green;
	border-style: solid;
	border-radius: 10px;


	
}
h2 {
	border-width: 2px;
	border-color: green;
	border-style: solid;
}