<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<title>Complete Your Profile</title>
</head>
<body>
	<div>
		
<<<<<<< HEAD
			<form action="/api/playerRoutes/" method="POST" role="form">
				<legend>Choose a Badass Handle</legend>
=======
			<form action="/api/playerRoutes" method="POST" role="form">
				<legend>Choose a Handle</legend>
>>>>>>> refs/remotes/origin/master
			
				<div class="form-group">
					<label for="">handle</label>
					<input type="text" class="form-control" name="handle" placeholder="Don't rush this...">
				</div>
			
                <div class="form-group">
                    <label for="">Agent Id Photo</label>
                    <input type="text" class="form-control" name="pic">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
		
	</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

</body>
</html>
