<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<title>Create Your Game</title>
</head>
<body>
	<div>
		
			<form action="/api/gameRoutes" method="post" role="form">
				<legend>Create Your Game</legend>
			
				<div class="form-group">
					<label for="">Your Handle</label>
					<input type="text" class="form-control" name="moderator" placeholder="">
				</div>
				<div class="form-group">
					<label for="">Name</label>
					<input type="text" class="form-control" name="gameName" placeholder="Name your game">
				</div>

				<div class="form-group">
					<label for="">Starting Date And Time</label>
					<input type="text" class="form-control" name="startTime" placeholder="When will the game begin?">
				</div>

				<div class="form-group">
					<label for="">Ending Date And Time</label>
					<input type="text" class="form-control" name="endTime" placeholder="When does the game end?">
				</div>
				<div class="form-group">
					<label for="">Location</label>
					<input type="text" class="form-control" name="location" placeholder="Where are you playing?">
				</div>

				<div id="playerList">
					
				</div>
			
				
			
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		


	</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js"></script>	
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
<script type="text/javascript" src="../js/pickplayers.js"></script>


</body>
</html>
