<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<title>Create Your Game</title>
</head>
<body>
	<div>
		<form>
			<form action="submit" method="POST" role="form">
				<legend>Create Your Game</legend>
			
				<div class="form-group">
					<label for="">label</label>
					<input type="text" class="form-control" id="gameName" placeholder="Name your hunt">
				</div>

				<div class="form-group">
					<label for="">Starting Date And Time</label>
					<input type="text" class="form-control" id="startTime" placeholder="When will the game begin?">
				</div>

				<div class="form-group">
					<label for="">Ending Date And Time</label>
					<input type="text" class="form-control" id="endTime" placeholder="When does the game end?">
				</div>
			
				
			
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</form>


	</div>

	<div>
		CHOOSE AN ARENA for react component of active players
	</div>

	<div>
		PLACEHOLER for react component of active players
	</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
<script type="text/javascript" src="js/app.js"></script>
</body>
</html>
