<html>
<head>
	<title>Game Profile</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
	<h1>MY GAME: </h1>
	<h1 id="pleasework"></h1>
	<h2>MODERATOR: </h2>
	<h2 id="moderator"></h2>
	<h2>GAME BEGINS ON: </h2>
	<h2 id="startTime">Game begins on: </h2>
	<h2>END TIME: </h2>
	<h2 id="endTime"></h2>
	<h2>LOCATION: </h2>
	<h2 id="location"></h2>
	
	<div>
		<h2>ACTIVE PLAYERS 17/20</h2>
		<ul>
			<li>DAVIS</li>
			<li>KELLY</li>
			<li>ZACH</li>
		</ul>
	</div>
		<h2>DECEASED</h2>
		<ul>
			<li>BOB</li>
			<li>Lola</li>
			<li>D'WAYNE</li>
		</ul>
	<div>
		
	</div>

	<div>
		
	</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js"></script>	
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
<script type="text/javascript" src="../js/gameApp.js"></script>
</body>
</html>