<html>
<head>
	<title>Game Profile</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
	<h1>MY GAME</h1>
	<h2>ACTIVE STATUS: KILL-MODE</h2>
	<h2>MODERATOR</h2>
	<h2>Time Remaining</h2>
	<h2>POT SIZE$$$$$$$</h2>
	<h2>ARENA</h2>
	<iframe src="googlemaps"></iframe>
	<div>
		<h2>ACTIVE PLAYERS 17/20</h2>
		<ul>
			<li>DAVIS</li>
			<li>KELLY</li>
			<li>ZACH</li>
		</ul>
	</div>
		<h2>DECEASED</h2>
		<ul>
			<li>BOB</li>
			<li>Lola</li>
			<li>D'WAYNE</li>
		</ul>
	<div>
		
	</div>

	<div>
		
	</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
<script type="text/javascript" src="js/app.js"></script>
</body>
</html>