<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../public/css/mainpage.css">
	<!-- Latest compiled and minified CSS -->
	<link href='https://fonts.googleapis.com/css?family=Cutive+Mono' rel='stylesheet' type='text/css'>

</head>
<body>


<!--Jumbotron-->
 	 <div class="jumbotron banner">
        <div class="container">
  		<h1>Paranoia</h1>
    	</div>
	</div>
 <!--Navbar-->
 	  <div class="navbar navbar-default ">
        <div class="container">
            <div class="navbar-header navbar">
                <a class="navbar-brand" href="#">
                    <img alt="Brand" src="badge.png">
                </a>
                <a href="index.html" class="navbar-brand">Zach's Page</a>
                    <button type="button" class="navbar-toggle"
                        data-toggle="collaspse"
                        data-target=".navbar-collapse">
                        
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                </div>
                <ul class="nav navbar-nav navbar-right collapse navbar-collapse">
                    <li><a href="blog.html">My Blog</a></li>
                    <li><a href="stations.html">My Adventure Game</a></li>
                    <li class="">
                        <a href="about.html" data-target="#" data-toggle='dropdown' id="frank">About <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <img src="frank.png"/>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
   

        <div class="container">
        <div class="row well well-lg">
            <div class="col-md-6">
                <h2>Richard C. Mongler</h2>
                <img src="portrait.jpg" alt="flexing"/>
            </div>
            <div class="col-md-6">
                <p>Lorem ipsum dolor sit amet, commodo erroribus scribentur pro an, ridens putent eu eum, an vidit vivendum temporibus eam. Eius minim indoctum no per, has eius impedit ad, no vix sale choro. Antiopam cotidieque est ei. Ea viderer veritus interpretaris vix, ut per stet affert posidonium. His cu alia inani alienum.

				At propriae appellantur delicatissimi cum. Ius vitae mucius disputando et. Inani definiebas nec ei. Altera persius alienum eam an.

				Ne eam clita consul oportere, legere ignota id vis. Usu an simul repudiandae, ei sale percipit mei, amet honestatis quo ne. Pri posse legimus deterruisset ut. Erat tantas nominavi in pri, at quo purto antiopam. Accusata salutandi constituto ad sea, sit eius conceptam ei. Postulant appellantur comprehensam no mea, tamquam nusquam at mel.

				Vero prodesset mel ea, pro ex mucius fuisset dissentiet. Omnium comprehensam eu usu, ea velit laoreet adipisci usu. Minim complectitur pri ex, eam ad populo mentitum suscipiantur. Vim legere comprehensam ne, habeo postea animal ex has. Per te wisi tollit.

				Vel in illum inani, accumsan praesent ei ius. At utinam conceptam pri. Sonet reprimique qui cu, lorem novum graece his no. Augue persius partiendo ut quo, has an nominati liberavisse concludaturque.</p>

            </div>
        
            <div class="col-md-6 visible-md visible-lg">
            	<p></p>
            </div>
        </div>
    </div>





	


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

<script type="text/javascript" src="js/app.js"></script>
</body>
</html>