<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
</head>
<body>
	<div class="container box">
		<div class="row">
			<div class="col-md-6">
			<img src="../images/photo.png">
		</div>
	
		<div>
			<ul>
				<li><h1>The Hunted</h1></li>
				<li>ID</li>
				<li>STATs</li>

			</ul>	
		</div>
	</div>
	

	

	</div>

	<div>

		<div class="container box-two">
		<div class="row">
			<div class="col-md-6">
			<img src="../images/photo.png">
		</div>
	
		<div>
			<ul>
				<li><h1>The Hunter</h1></li>
				<li>ID</li>
				<li>STATs</li>

			</ul>	
		</div>
	</div>
	<div> 
</div>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

</body>
</html>