body {
	padding-top: 100px; 
	padding-left: 50px; 
	padding-bottom: 100px; 
	background-color: #5B0088;
	/*background-image: url('../images/creepy.jpg');*/
}

.monitor {
	padding-top: 0px; 
	padding-left: 20px; 
	padding-bottom: 70px; 
	background-color: #F2F2DC; 
	border-radius: 13px;
	border-style: solid;
	border-color: gray;
	border-width: 5px;
}

.monitorshadow {
	padding-top: 10px; 
	padding-left: 10px; 
	padding-bottom: 10px; 
	padding-right: none; 
	background-color: gray; 
	border-radius: 13px; 
	border-style: solid;
	border-width: 1px;
	border-color: black;
	width: 700px; 
	margin: auto; 
	background: linear-gradient(gray, #F2F2DC);
}

#console {
	color: green; 
	height: 300px; 
	width: 600px; 
	padding-left: 50px; 
	margin: auto;
}

.buttonrow {
	padding-top: 50px;
}

.powerbutton {
	margin-left: 40px;
	border-radius: 50%; 
	height: 50px; 
	width: 50px;
	border-width: 1px;
}
.powerbutton:focus {
	outline: 0;
}
.smallerbutton {
	border-radius: 50%; 
	height: 20px; 
	width: 20px; 
	margin-left: 50px;
}
@-webkit-keyframes greenPulse {
  from { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #91bd09; -webkit-box-shadow: 0 0 18px #91bd09; }
  to { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
}
.otherbutton {
	margin-left: 600px;
	width: 20px;
  	height: 20px;
  	text-align: center;
  	border-radius: 50%;
  	box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
  	-webkit-animation-name: greenPulse;
  	-webkit-animation-duration: 2s;
  	-webkit-animation-iteration-count: infinite;
}


h2,p{
  font-size:100%;
  font-weight:normal;
}
ul,li{
  list-style:none;
}
ul{
  overflow:hidden;
  padding:3em;
}
ul li a{
  text-decoration:none;
  color:#000;
  background: #FFFF33;
  display:block;
  height:6em;
  width:6em;
  padding:1em;
  /* Firefox */
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  /* Safari+Chrome */
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  /* Opera */
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -webkit-transform:rotate(-6deg);
  -o-transform:rotate(-6deg);
  -moz-transform:rotate(-6deg);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
}
ul li{
  margin:1em;
  float:left;
}
ul li:nth-child(even) a{
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
}
ul li:nth-child(3n) a{
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
}
ul li:nth-child(5n) a{
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
}
ul li a:hover,ul li a:focus{
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  z-index:5;
}
ul li h2{
  font-weight:bold;
  padding-bottom:10px;
}
ul li {
  font-family:"Reenie Beanie",arial,sans-serif;
}

.logo {
	float: right;
	top: 0px;
}