body {
	background-color: black;
	color: green;
	font-family: courier;
}
.box {
	border-width: 5px;
	border-style: double;
	padding-bottom: 50px;
}

.box-two {
	margin-top: 50px;
	border-width: 5px;
	border-style: double;
}

.signIn {
	text-align: center;
}

.signUp {
	text-align: center;
}