.drawer {
	height: 70px;
	font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
	font-style: 20px;
	font-variant: normal;
	font-weight: 500;
	line-height: 33px;
	text-align: center;
	padding-top: 3px;
	padding-bottom: 3px;
	border-style: solid;
	border-width: 5px;
	border-color: white;
	height: 200px;
	width: 200px;
	background-color: gray;
}

.drawer:hover {
	color: green;
	background-color: gray;
}
.leftpanel {
	/*position: fixed;
	font-family:  lucida;
	background-color: black;
	float: left;
	width: 250px;*/
	height: 100vh;
	margin-top: 70px;
}

.banner {
	color: red;
	font-family: 'Cutive Mono';
	/*background-color: #29293D;*/
	background: linear-gradient(#29293D, gray);
	/*text-shadow: 2px 2px #ff0000;*/
	padding-left: 50px;
}
body {
	background-color: black;
}
.rules {
	background-color: white;
	border-style: dashed;
	border-color: black;

	font-size: 50px;
}