body {
	background-color: black;
	color: green;
	font-family: courier;
}

h2 {
	padding-bottom: 10px;
	font-size: 35px;
}

label {
	font-size: 18px;
	padding-left: 15px;
}

.navbar {
	background-color: black;
	padding-bottom: 20px;
}

.jumbotron {
	background-image: url('https://i.ytimg.com/vi/Je28iCxQnNg/maxresdefault.jpg');
	background-size: 60%;
}

.signUp {
	text-align: center;
	padding-top: 10px;
}

.signIn {
	text-align: center;
	padding-top: 20px;
}

.btn {
	margin-left: 10px;
}


